<DOCTYPE html>
<head>
	<meta charset="UTF-8">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/bootswatch/2.3.0/simplex/bootstrap.min.css" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
	<!--script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script -->
	<script type="text/javascript">
	
	var menuItems = [];
	
	$.fn.serializeObject = function()
	{
		var o = {};
		var a = this.serializeArray();
		$.each(a, function() {
			if (o[this.name] !== undefined) {
				if (!o[this.name].push) {
					o[this.name] = [o[this.name]];
				}
				o[this.name].push(this.value || '');
			} else {
				o[this.name] = this.value || '';
			}
		});
		return o;
	};

	function formSubmit(f) {
		var name = f.getAttribute("name");
		var json = $(f).serializeObject();
		if(name=="restaurant") {
			var menu = {}
			menu["items"] = menuItems
			json["menu"] = menu;
			var string = JSON.stringify(json);
			
			var form = document.createElement("form");
			form.setAttribute("method", "post");
			form.setAttribute("action", "http://hopfrog.ignorelist.com:8080/restaurants");
			
			var hiddenField = document.createElement("input");
			hiddenField.setAttribute("type", "hidden");
			hiddenField.setAttribute("name", "json");
			hiddenField.setAttribute("value", string);

            		form.appendChild(hiddenField);
            
			document.body.appendChild(form);
			form.submit();
			
			$("#result").text("Posted: " + string);
			menuItems = [];
		} else if(name=="menuItem") {
			menuItems.push(json);
            $("#menuItem input:text").val("");
		}
		updateMenu();
		return false;
	}
	
	function updateMenu() {
        var text = JSON.stringify(menuItems);
        text = text.split("},").join("},\n");
		$("#menu").text(text);
	}
	</script>
</head>
<body>
	<div class="navbar navbar-static-top">
		<div class="navbar-inner">
			<a class="brand" href="#">HopFrog Mobile</a>
			<ul class="nav">
				<li class="addRestaurant.html"><a href="#">Home</a></li>
				<li><a href="#">Add new menu</a></li>
				<li><a href="video.html">Video</a></li>
			</ul>
		</div>
	</div>
    <div class="row-fluid">
    <div class="span8 offset2">    
	<form class="form-horizontal" name="restaurant" action="" method="post">
    <legend>Restaurant Information</legend>
    <div class="control-group">
        <label class="control-label" for="id">Google Places id</label>
        <div class="controls">
            <input type="text" name="id"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="name">Restaurant Name</label>
        <div class="controls">
            <input type="text" name="name"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="description">Restaurant Description</label>
        <div class="controls">
            <input type="text" name="description"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="vicinity">Restaurant Address</label>
        <div class="controls">
            <input type="text" name="vicinity"/>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn" onclick="return formSubmit(this.form)">Submit Menu</button>
        </div>
    </div>    
	</form>
    
	<h2>Menu Items</h2>
	<form id="menuItem" class="form-inline" name="menuItem" action="" method="post">
    <div class="row-fluid">
		<input type="text" class="span2" name="name" placeholder="Name"/>
		<input type="text" class="span4" name="description" placeholder="Description"/>
		<input type="text" class="span2" name="category" placeholder="Category"/>
        <input type="text" class="span2" name="cost" placeholder="Cost" />
		Vegetarian:
		<input type="radio" name="veg" value="true" checked="checked">Y</input>
		<input type="radio" name="veg" value="false">N</input>
        <button type="submit" class="btn" onclick="return formSubmit(this.form)"/>Add item</button>
    </div>
	</form>

    <pre id="menu"></pre>

	
	<h2>JSON</h2>
	<pre id="result"></pre>
    </div>
    </div>

</body>
